*{
	margin: 0;
	padding: 0;
	font-family: century gothic;
}
header{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../img/photo-1498490724692-0de80895f8d1.jfif");
	height: 100vh;
	background-size: cover;
	height:1800px;
	background-position: center;
}
p{
	text-decoration: none;
	color: white;
	padding: 5px 25px;
	border: 1px solid transparent;
	margin: 60px;
}
h1{
	text-decoration: none;
	color: blue;
	padding: 5px 25px;
	border: 1px solid transparent;
	margin: 60px;
	text-shadow: 5px 5px 10px green;
}
h3{
	text-decoration: none;
	color: red;
	padding: 5px 25px;
	border: 1px solid transparent;
	margin: 60px;
}